In [1]:
%matplotlib inline

In [2]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import ipywidgets as widgets  
import itertools
import inspect
from IPython.display import display
import itertools

#### Names of employess in their relavent groups

In [3]:
phy_therapist=['Lars Ulrik Pedersen',
'Anne Sylvester Walters',
'Jacob Carsting',
'Ida Lundager Kraaer',
'Jesper Jin Leen Larsen',
'Anders Kjærulff Møller',
'Niklas Dunker Gammelmark',
'Stefan Koch Jacobsen']

bk_assistant=['Linda Wichmann',
'Qillaq Thomas Moesgaard',
'Bente Stigborg',
'Marie-Louise Fugl Madsen', 
'Natascha Jensen Dresler',
'Dina Larn Bonsvig',
'Markus Kochendorff Støvring',
'Hafsah Tasneem',
'Kristina Halvorseth',
'Stephanie Dam',
'Gitte Larsen',
'Nicolai Linnemann',
'Maria Fleischer',
'Mia Douglas',
'Elizabeth Jeppesen',
'Marianne Brandt',
'Lone Bruun Houmøller',
'Inge Chan']

morning_team=['Mia Douglas','Marianne Brandt','Elizabeth Jeppesen']


test_team=['Hafsah Tasneem','Stephanie Dam']

#### Cleaning the dataset

In [4]:
percentages= ['Aktiv/Klar - Samtale','Aktiv/Klar - Klar','Aktiv/Klar - Admininistrativt','Ikke Klar - Pause','Ikke Klar - Andet']
col_list=['Login-timer / dag','Tabte Opkald per dag', 'Samtale (min) per Opkald',
       'Aktiv/Klar (T) - Samlet per dag', 
       'Samtale (T) - per dag', 'Klar (T) - per dag',
        'Administration (T) - per dag',
        'Pause (T) - per dag',
        'ikke klar (T) Andet - per dag',
        'Ukendt/Andet (T) - per dag']
float_col_list=col_list+percentages

def remove_percentages_and_change_to_float_add_coloumn(df):
   
    for i in percentages:
        df[i]=list(map(lambda x: x[:-1], df[i].values))
    df[float_col_list]=df[float_col_list].astype(float)
    df['In-Ud-sum']=df['Indgående Opkald per dag'] + df['Udgående Opkald per dag']

#### Getting the name of the variable

In [5]:
def retrieve_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_locals.items()
    return [var_name for var_name, var_val in callers_local_vars if var_val is var]

## Getting Weekly data for all employees

In [6]:
oct_2019_week1=pd.read_csv("all_oct_1st.csv", sep=',', encoding='utf-8')
oct_2019_week2=pd.read_csv("all_oct_2nd.csv", sep=',', encoding='utf-8')
oct_2019_week3=pd.read_csv("all_oct_3rd.csv", sep=',', encoding='utf-8')
oct_2019_week4=pd.read_csv("all_oct_4th.csv", sep=',', encoding='utf-8')
oct_2019_week5=pd.read_csv("all_oct_5th.csv", sep=',', encoding='utf-8')

In [7]:
nov_2019_week1=pd.read_csv("all_nov_1st.csv", sep=',', encoding='utf-8')
nov_2019_week2=pd.read_csv("all_nov_2nd.csv", sep=',', encoding='utf-8')
nov_2019_week3=pd.read_csv("all_nov_3rd.csv", sep=',', encoding='utf-8')
nov_2019_week4=pd.read_csv("all_nov_4th.csv", sep=',', encoding='utf-8')
nov_2019_week5=pd.read_csv("all_nov_5th.csv", sep=',', encoding='utf-8')

In [8]:
dec_2019_week1=pd.read_csv("all_dec_1st.csv", sep=',', encoding='utf-8')
dec_2019_week2=pd.read_csv("all_dec_2nd.csv", sep=',', encoding='utf-8')
dec_2019_week3=pd.read_csv("all_dec_3rd.csv", sep=',', encoding='utf-8')
dec_2019_week4=pd.read_csv("all_dec_4th.csv", sep=',', encoding='utf-8')
dec_2019_week5=pd.read_csv("all_dec_5th.csv", sep=',', encoding='utf-8')

In [9]:
jan_2020_week1=pd.read_csv("all_jan_1st.csv", sep=',', encoding='utf-8')
jan_2020_week2=pd.read_csv("all_jan_2nd.csv", sep=',', encoding='utf-8')
jan_2020_week3=pd.read_csv("all_jan_3rd.csv", sep=',', encoding='utf-8')
jan_2020_week4=pd.read_csv("all_jan_4th.csv", sep=',', encoding='utf-8')
jan_2020_week5=pd.read_csv("all_jan_5th.csv", sep=',', encoding='utf-8')

In [10]:
feb_2020_week1=pd.read_csv("all_feb_1st.csv", sep=',', encoding='utf-8')
feb_2020_week2=pd.read_csv("all_feb_2nd.csv", sep=',', encoding='utf-8')
feb_2020_week3=pd.read_csv("all_feb_3rd.csv", sep=',', encoding='utf-8')
feb_2020_week4=pd.read_csv("all_feb_4th.csv", sep=',', encoding='utf-8')

In [11]:
mar_2020_week1=pd.read_csv("all_march_1st.csv", sep=',', encoding='utf-8')
mar_2020_week2=pd.read_csv("all_march_2nd.csv", sep=',', encoding='utf-8')
mar_2020_week3=pd.read_csv("all_march_3rd.csv", sep=',', encoding='utf-8')
mar_2020_week4=pd.read_csv("all_march_4th.csv", sep=',', encoding='utf-8')
mar_2020_week5=pd.read_csv("all_march_5th.csv", sep=',', encoding='utf-8')

In [12]:
apr_2020_week1=pd.read_csv("all_april_1st.csv", sep=',', encoding='utf-8')
apr_2020_week2=pd.read_csv("all_april_2nd.csv", sep=',', encoding='utf-8')
apr_2020_week3=pd.read_csv("all_april_3rd.csv", sep=',', encoding='utf-8')
apr_2020_week4=pd.read_csv("all_april_4th.csv", sep=',', encoding='utf-8')
apr_2020_week5=pd.read_csv("all_april_5th.csv", sep=',', encoding='utf-8')

In [13]:
may_2020_week1=pd.read_csv("all_may_1st.csv", sep=',', encoding='utf-8')
may_2020_week2=pd.read_csv("all_may_2nd.csv", sep=',', encoding='utf-8')
may_2020_week3=pd.read_csv("all_may_3rd.csv", sep=',', encoding='utf-8')
may_2020_week4=pd.read_csv("all_may_4th.csv", sep=',', encoding='utf-8')
may_2020_week5=pd.read_csv("all_may_5th.csv", sep=',', encoding='utf-8')

In [14]:
jun_2020_week1=pd.read_csv("all_june_1st.csv", sep=',', encoding='utf-8')
jun_2020_week2=pd.read_csv("all_june_2nd.csv", sep=',', encoding='utf-8')
jun_2020_week3=pd.read_csv("all_june_3rd.csv", sep=',', encoding='utf-8')
jun_2020_week4=pd.read_csv("all_june_4th.csv", sep=',', encoding='utf-8')
jun_2020_week5=pd.read_csv("all_june_5th.csv", sep=',', encoding='utf-8')

In [15]:
jul_2020_week1=pd.read_csv("all_july_1st.csv", sep=',', encoding='utf-8')
jul_2020_week2=pd.read_csv("all_july_2nd.csv", sep=',', encoding='utf-8')
jul_2020_week3=pd.read_csv("all_july_3rd.csv", sep=',', encoding='utf-8')
jul_2020_week4=pd.read_csv("all_july_4th.csv", sep=',', encoding='utf-8')
jul_2020_week5=pd.read_csv("all_july_5th.csv", sep=',', encoding='utf-8')

In [16]:
jan_2020=pd.read_csv("Jan2020.csv", sep=',', encoding='utf-8')
feb_2020=pd.read_csv("Feb2020.csv", sep=',', encoding='utf-8')
mar_2020=pd.read_csv("March2020.csv", sep=',', encoding='utf-8')
apr_2020=pd.read_csv("April2020.csv", sep=',', encoding='utf-8')
may_2020=pd.read_csv("May2020.csv", sep=',', encoding='utf-8')
jun_2020=pd.read_csv("June2020.csv", sep=',', encoding='utf-8')
jul_2020=pd.read_csv("July2020.csv", sep=',', encoding='utf-8')

In [17]:
year_2019=pd.read_csv("all_2019.csv", sep=',', encoding='utf-8')
year_2020=pd.read_csv("all_2020_til_July.csv", sep=',', encoding='utf-8') #til 31st July

In [18]:
#2019 monthly data
dec_2019=pd.read_csv("Dec2019.csv", sep=',', encoding='utf-8')
nov_2019=pd.read_csv("Nov2019.csv", sep=',', encoding='utf-8')
oct_2019=pd.read_csv("Oct2019.csv", sep=',', encoding='utf-8')

In [19]:
weekslist=[oct_2019_week1,oct_2019_week2,oct_2019_week3,oct_2019_week4,oct_2019_week5,nov_2019_week1,nov_2019_week2,nov_2019_week3,nov_2019_week4,nov_2019_week5,dec_2019_week1,dec_2019_week2,dec_2019_week3,dec_2019_week4,dec_2019_week5,jan_2020_week1,jan_2020_week2,jan_2020_week3,jan_2020_week4,jan_2020_week5,feb_2020_week1,feb_2020_week2,feb_2020_week3,feb_2020_week4,mar_2020_week1,mar_2020_week2,mar_2020_week3,mar_2020_week4,mar_2020_week5,apr_2020_week1,apr_2020_week2,apr_2020_week3,apr_2020_week4,apr_2020_week5,may_2020_week1,may_2020_week2,may_2020_week3,may_2020_week4,may_2020_week5,jun_2020_week1,jun_2020_week2,jun_2020_week3,jun_2020_week4,jun_2020_week5,jul_2020_week1,jul_2020_week2,jul_2020_week3,jul_2020_week4,jul_2020_week5]

In [20]:
monthslist=[oct_2019,nov_2019,dec_2019,jan_2020,feb_2020,mar_2020,apr_2020,may_2020,jun_2020,jul_2020]

In [21]:
yearsList=[year_2019,year_2020]

#### Getting the name of the variable and setting as Period in all dfs

In [22]:
temp_period_names=[]
for i in range(len(weekslist)):
    temp_period_names.append(retrieve_name(weekslist[i]))
week_periods_names=list(itertools.chain(*temp_period_names))

temp_period_names=[]
for i in range(len(monthslist)):
    temp_period_names.append(retrieve_name(monthslist[i]))
months_periods_names=list(itertools.chain(*temp_period_names))

temp_period_names=[]
for i in range(len(yearsList)):
    temp_period_names.append(retrieve_name(yearsList[i]))
years_periods_names=list(itertools.chain(*temp_period_names))

In [23]:
 def getPeriods(period,num1,num2,splitter):
    per= period.split(splitter)
    per= per[num1].title() +' '+per[num2]
    return per

def getPeriodsWeekly(period,num1,num2,splitter):
    per= period.split(splitter)
    per= per[num1].title() +' '+per[num2]
    return per

In [24]:
for i in weekslist:
    remove_percentages_and_change_to_float_add_coloumn(i)
    i['In-Ud-sum']=i['Indgående Opkald per dag'] + i['Udgående Opkald per dag']

for i in monthslist:
    remove_percentages_and_change_to_float_add_coloumn(i)
    i['In-Ud-sum']=i['Indgående Opkald per dag'] + i['Udgående Opkald per dag']
    
for i in yearsList:
    remove_percentages_and_change_to_float_add_coloumn(i)
    i['In-Ud-sum']=i['Indgående Opkald per dag'] + i['Udgående Opkald per dag']

In [25]:
for i in range(len(weekslist)):    
    weekslist[i]['PeriodName']=week_periods_names[i]
    weekslist[i]['Period']=getPeriodsWeekly(week_periods_names[i],0,2,'_')

for i in range(len(monthslist)):    
    monthslist[i]['PeriodName']=months_periods_names[i]  
    monthslist[i]['Period']=getPeriods(months_periods_names[i],0,1,'_')

for i in range(len(yearsList)):
    yearsList[i]['PeriodName']=years_periods_names[i]  
    yearsList[i]['Period']=getPeriods(years_periods_names[i],0,1,'_')

### Functions

In [26]:
def get_data_for_agent(l_list,agentname,title):
    data=[]
    for i in l_list:
        data.append(i.loc[i['AgentName']==agentname])
    data_pd=pd.concat(data,sort='false')
    data_pd=data_pd[['AgentName','PeriodName','Period','In-Ud-sum','Indgående Opkald per dag', 'Udgående Opkald per dag',
    'Samtale (min) per Opkald',
       'Aktiv/Klar (T) - Samlet per dag',
       'Samtale (T) - per dag', 'Klar (T) - per dag',
        'Administration (T) - per dag', 'Pause (T) - per dag',
       'ikke klar (T) Andet - per dag' ]]
    data_pd=data_pd.rename({'Indgående Opkald per dag': 'Indgaende-Opkald-per-dag'}, axis=1)
    data_pd=data_pd.rename({'Udgående Opkald per dag': 'Udgaende-Opkald-per-dag'}, axis=1)
    ag_name=agentname.split(' ')
    #data_pd.to_csv(ag_name[0]+'_'+title+'_data.csv',index = True)
    return data_pd

In [27]:
def change_agent_name(oldname,newname):
    data=[]
    listOfList=[weekslist,monthslist,yearsList]
    for i in listOfList:
        for j in i:
            j.loc[j['AgentName'] == oldname, 'AgentName'] = newname
        #data.append(j)
    #pd_data=pd.concat(data)
    #return pd_data

In [28]:
change_agent_name('Dina Larn Bonsvig',  'Dina Bonsvig')
change_agent_name('Qillaq Thomas Moesgård','Qillaq Thomas Moesgaard')

get_data_for_agent(weekslist,test_team[0],'Weekly')

In [29]:
pie_data_coloumn=['AgentName','Period','PeriodName','Aktiv/Klar - Samtale','Aktiv/Klar - Klar','Aktiv/Klar - Admininistrativt','Ikke Klar - Pause','Ikke Klar - Andet']
def get_pie_data(l_list,agentname,title):
    data=[]
    for i in l_list:
        data.append(i.loc[i['AgentName']==agentname])
    pd_data=pd.concat(data)
    pd_data=pd_data[pie_data_coloumn]
    ag_name=agentname.split(' ')
    #pd_data.to_csv(ag_name[0]+'_piedata_'+title+'.csv',index = True)
    return pd_data

In [30]:
def get_all_data_for_agent(l_list,agentname,title):
    data=[]
    for i in l_list:
        data.append(i.loc[i['AgentName']==agentname])
    data_pd=pd.concat(data,sort='false')
    data_pd=data_pd[['AgentName','PeriodName','Period','Indgående Opkald per dag', 'Udgående Opkald per dag',
    'Samtale (min) per Opkald',
       'Aktiv/Klar (T) - Samlet per dag',
       'Samtale (T) - per dag', 'Klar (T) - per dag',
        'Administration (T) - per dag', 'Pause (T) - per dag',
       'ikke klar (T) Andet - per dag','Login-datoer','Login-timer / dag','In-Ud-sum',
                     'Aktiv/Klar - Samtale','Aktiv/Klar - Klar','Aktiv/Klar - Admininistrativt','Ikke Klar - Pause','Ikke Klar - Andet' ]]
    data_pd=data_pd.rename({'Indgående Opkald per dag': 'Indgaende-Opkald-per-dag'}, axis=1)
    data_pd=data_pd.rename({'Udgående Opkald per dag': 'Udgaende-Opkald-per-dag'}, axis=1)
    ag_name=agentname.split(' ')
    data_pd.to_csv(ag_name[0]+'_'+title+'_data.csv',index = True)
    return data_pd

In [31]:
agentNamesList=['Hafsah Tasneem','Stephanie Dam','Inge Chan','Dina Bonsvig','Qillaq Thomas Moesgaard',]
listOfList=[weekslist,monthslist,yearsList]
titles=['All Weeks','All Months','All Years']

In [32]:
ag=1
for i in range(3):
    dd=get_all_data_for_agent(listOfList[i],agentNamesList[ag],titles[i])

In [33]:
dd

,AgentName,PeriodName,Period,Indgaende-Opkald-per-dag,Udgaende-Opkald-per-dag,Samtale (min) per Opkald,Aktiv/Klar (T) - Samlet per dag,Samtale (T) - per dag,Klar (T) - per dag,Administration (T) - per dag,Pause (T) - per dag,ikke klar (T) Andet - per dag,Login-datoer,Login-timer / dag,In-Ud-sum,Aktiv/Klar - Samtale,Aktiv/Klar - Klar,Aktiv/Klar - Admininistrativt,Ikke Klar - Pause,Ikke Klar - Andet
54,Stephanie Dam,year_2019,Year 2019,41,1,3.2,5.1,2.2,2.6,0.3,0.7,0.4,10,6.4,42,34.0,41.0,4.0,11.0,7.0
42,Stephanie Dam,year_2020,Year 2020,76,6,2.4,6.3,3.3,2.7,0.4,0.9,0.4,107,7.8,82,42.0,34.0,5.0,11.0,5.0

In [34]:
#dd=get_all_data_for_agent(monthslist,'Stefan Koch Jacobsen','All Weeks')
#dd=get_all_data_for_agent(weekslist,'Stephanie Dam','All Weeks')
#dd=get_all_data_for_agent(monthslist,'Inge Chan','All Weeks')
#dd=get_all_data_for_agent(weekslist,'Hafsah Tasneem','All Weeks')
#dd=get_all_data_for_agent(weekslist,'Qillaq Thomas Moesgaard','All Months')

In [36]:
dd[['Period','Indgaende-Opkald-per-dag']]

       Period  Indgaende-Opkald-per-dag
54  Year 2019                        41
42  Year 2020                        76